.contacts {
    @media screen and(max-width: 767px){
        display: none;
    }
    @media screen and(min-width:1200px){
        display: flex;
        align-items: center;
       
    }

    &__item:not(:last-child){
        @media screen and(max-width: 767px){
            margin-bottom: 32px;
            
        }
        @media screen and(min-width: 768px) and (max-width: 1199px){
            margin-bottom: 10px;
            
        }
        @media screen and(min-width: 1200px){
            margin-right: 50px;
        }
        
    }
}

.contacts__link {
    display: inline-block;
    color: $secondary-text-color;
    font-weight: 500;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    transition: color $animation;
    
        &:hover,
        &:focus{
            color: $accent-color;
        }

        @media screen and(min-width: 1200px){
            font-size: inherit;
            line-height: 1.14;
        }
        
}

.contacts__icon {
    fill: $secondary-text-color;
    transition: fill $animation;

        .contacts__link:hover &,
        .contacts__link:focus & {
            fill: $accent-color;
        }
         @media screen and(max-width: 1199px){
            margin-right: 8px;
        }
         @media screen and(min-width: 1200px){
            margin-right: 10px;
    }
}
