.nav {
    @include centeredFlex(flex, space-between, center);

         @media screen and(min-width: 768px){
         @include centeredFlex(flex, null, center);
        
    } 
    &__logo {
    
        @media screen and(min-width: 768px) {
            margin-right: 93px;
            padding-top: 24px;
            padding-bottom: 25px;
        }   
    }   
}
