.quality-list {
    @media screen and(min-width: 768px) {
        @include centeredFlex(flex, null, null);
        flex-wrap: wrap;
        gap: 30px;
    }

        &__item{
            @media screen and(min-width: 768px){
                flex-basis: calc((100% - 30px) / 2);
            }
            @media screen and(min-width: 1200px){
                flex-basis: calc((100% - 90px) / 4);;
                
            }
        }
         &__item:not(:last-child){
            @media screen and(max-width: 768px) {
                margin-bottom: 30px;
            }
         }
         &__bg{
            @include centeredFlex(flex, center,center);
            width: 100%;
            height: 120px;
            margin-bottom: 30px;
            background-color: $background-color;
            border-radius: 4px;
         }
        &__icon {  
                width: 70px;
                height: 70px;
            }
        &__title{
            margin-bottom: 10px;
            line-height: 1.14;
            text-transform: uppercase;
            @media screen and(max-width: 479px) {
                text-align: center;
            }
        }
        &__subtitle{
            
            color: $secondary-text-color;
            line-height: 1.71;
        }
}

    