$primary-text-color: #212121;
$secondary-text-color: #757575;
$accent-color: #2196F3;
$white-color: #FFFFFF;
$logo-text-color: #000000;
$footer-text-color: rgba(255, 255, 255, 0.6);
$visual-text-color: #2F303A;
$background-color: #F5F4FA;
$border-color: #ECECEC;
$icon-color: #AFB1B8;
$footer-icon-color: #44454E;
$close-button-border: #E5E5E5;
$animation: 250ms cubic-bezier(0.4, 0, 0.2, 1);